Django~=5.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
pip~=23.3.2
attrs~=22.2.0
wheel~=0.38.4
Brotli~=1.1.0
protobuf~=5.27.3
cryptography~=43.0.0
pytest~=7.2.1
psycopg2-binary==2.9.9
Pillow~=10.0.1
tornado~=6.4.1
Jinja2~=3.1.4
keyring~=25.3.0
setuptools~=65.5.1
future~=0.18.3