{% load media_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css" />
</head>
<body>
    <div class="uk-container uk-margin-top">
        {% block content %}
            <h1>Welcome to the Home Page</h1>
            <p>This is the home page of our Django project.</p>
            <div>
                {% for product in products %}
                   {% include 'catalog/menu.html' with product=product %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
</body>
</html>




