{% extends 'catalog/base.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class="uk-container uk-margin-top">
        {% block content %}
            <h1>Welcome to the Home Page</h1>
            <p>This is the home page of our Django project.</p>
            <div>
                {% for product in products %}
                   {% include 'catalog/menu.html' with product=product %}
                {% endfor %}
            </div>
        <a href="{% url 'blog:blogpost_list' %}" class="uk-button uk-button-secondary">Go to Blog</a>
        {% endblock %}
    </div>
</body>
</html>





